* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body {
    width: 1105px;
}

header img {
    width: 100px;
    display: inline-block;
}

header h1 {
    display: inline-block;
    vertical-align: top;
    color: #474747;
    font-size: 40px;
    margin-top: 30px;
}

span.special {
    color: #2d6da3;
}

header h2 {
    background: linear-gradient(#25669e, #4d80ab, #25669e);
    -webkit-background: linear-gradient(#25669e, #4d80ab, #25669e);
    color: white;
    margin: -23px 0px 0px;
    padding: 14px 10px;
    font-weight: lighter;
    font-size: 30px;
}

.left-side-bar {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    text-align: left;
    padding: 15px;
}

.left-side-bar h3 {
    font-size: 16px;
}

.left-side-bar h4 {
    font-size: 14px;
    margin: 10px 0px;
}

h3 span.special {
    color: red;
}

button {
    display: block;
    background: linear-gradient(#5e94c1, #26689f);
    -webkit-background: linear-gradient(#5e94c1, #26689f);
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px 20px;
    border: none;
    box-shadow: 2px 2px 1px gray;
    width: 200px;
    margin: 10px 0px;
    border-radius: 5px;
}

button:nth-of-type(2) {
    background: linear-gradient(#eba84d, #ef7400);
    -webkit-background: linear-gradient(#eba84d, #ef7400);
}

.dummy {
    height: 2px;
    width: 100%;
    background-color:lightgray;
    margin: 20px 0px;
}

.ad {
    background-image: url(images/ad_background.png);
    background-size: contain;
    color: white;
    text-align: center;
    padding: 20px;
}

.ad h1 {
    font-size: 24px;
    font-weight: lighter;
}

.ad img {
    width: 100px;
}

.ad button {
    background: linear-gradient(#6ccfdf, #00c1df);
    -webkit-background: linear-gradient(#6ccfdf, #00c1df);
    text-transform: capitalize;
    width: 150px;
    box-shadow: 2px 2px 1px black;
    font-size: 12px;
}

.main {
    display: inline-block;
    vertical-align: top;
    width: 850px;
    font-size: 15px;
}

.home {
    width: 30px;
    display: inline-block;
    vertical-align: top;
    margin: 10px 0px;
}

.main h5 {
    color: #5d8cb4;
    display: inline-block;
    vertical-align: top;
    margin: 20px 0px;
    font-size: 18px;
}

.contact {
    display: inline-block;
}

.phone {
    display: inline-block;
    width: 50px;
    margin-left: 570px;
}

.contact p {
    color: #878787;
    font-size: 10px;
}

.contact h6 {
    color: #02c1df;
    font-size: 24px;
}

.main .dummy {
    margin: 3px 0px;
}

.main h2 {
    color: #306ea4;
    font-size: 21px;
}

.em {
    font-weight: bold;
}

.main ul {
    margin: 10px 0px 0px 40px;
}

.main li {
    margin: 5px 0px;
}

.serverclient {
    margin: 5px 250px;
    width: 325px;
}

.main ol {
    margin: 10px 0px 0px 40px;
}

.bigthree {
    border: 4px solid #0085e0;
}

.bigthree img {
    width: 130px;
    display: inline-block;
    margin: 10px;
}

.description {
    display: inline-block;
    vertical-align: top;
    width: 650px;
    margin: 10px;
}

.description p {
    margin-top: 10px;
}

.description a {
    color: #32acbf;
    text-decoration: none;
}